/* Arabic Css Here */
@import url("./fonts.css");

body {
    font-family: 'Fira Sans', 'Molarabic';
    font-weight: 600;
}


.menubar {
    text-align: left;
}

.login-section .login img {
    right: 7px;
}

.login-section .form-control {
    padding-right: 10%;
}

.sign-up-btn {
    margin-right: 8%;
}

.menubar ul li sup {
    margin-left: -5px;
}

.register-section {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* Arabic text width  */
.menubar ul li a {
    font-weight: 600;
}
h4 {
    font-weight: 700;
}
.paragraph {
    font-weight: 600;
}
.readmore-btn {
    font-weight: 600;
}
.package .card-footer {
    font-weight: 600;
}

.planing-events .heading h3 {
    font-weight: 600;
}
h6 {
    font-weight: 600;
}
.cart-section .process-btn .readmore-btn {
    font-weight: 600;
}
.cart-section .custom-btn {
    font-weight: 600;
}




/* .management-page .content img {
    position: absolute;
    top: 7px;
    left: auto;
    right: -7px;
    width: 17px;
} */

#inner-media .full-contents p {
    margin-right: 40px;
}

.shop-details-part .quantity input {
    width: 80px;
    height: 48px;
    padding: 5px 32px 5px 0px;
    border: 1px solid #CCCCCC;
        border-right-color: rgb(204, 204, 204);
        border-right-style: solid;
        border-right-width: 1px;
    border-right: none;
    box-sizing: border-box;
    position: relative;
}

.shop-details-part .quantity .up-arrow img, .shop-details-part .quantity .down-arrow img {
    margin-right: 7px !important;
    margin-top: 2px;
    opacity: .6;
    cursor: pointer;
}

/* .management-page .content span {
    display: inline-block;
    position: absolute;
    right: 35px;
} */